:root {
    --main-font-family: 'Bowlby One SC', cursive;
    --cineaste-red: #ca2936;
}

body {
    font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--main-font-family);
}

.nav-tabs {
    overflow-x: auto;
    overflow-y: hidden;
    display: -webkit-box;
    display: -moz-box;
    text-transform: uppercase;
    border-bottom: 2px solid var(--cineaste-red);
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: 700;
}

.nav-tabs li a {
    border: 0;
    background-color: transparent;
    color: var(--cineaste-red);
}

.nav-tabs li a:hover {
    border: 0;
}

.nav-pills .nav-link.active {
    border: 0;
    background-color: var(--cineaste-red);
}

.nav-pills .nav-link {
    border: 0;
}

.nav-link {
    text-transform: uppercase;
    font-weight: bold;
}

.nav-tabs li {
    float: none;
}

img.index-poster {
    width: 135px;
    height: 200px;
}

img.index-small {
    height: 89px;
    width: 60px;
}

a.image-link img {
    padding-top: 2px;
    padding-bottom: 2px;
}

.shadowed {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.film-show-link-xs {
    color: black;
}

.film-show-tab {
    border-top: 2px solid var(--cineaste-red);
}

.card {
    border: 0;
    /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);*/
    margin-bottom: 1px;
    margin-top: 1px;
}

.card-header {
    border: 0;
    background: transparent;
    text-transform: uppercase;
    font-weight: 700;
}

.card-header a {
    text-decoration: none;
    color: black;
}

.card-header a:before {
    font-family: "Font Awesome\ 5 Free";
    content: "\f106";
    color: var(--cineaste-red)
}

.card-header a.collapsed:before {
    font-family: "Font Awesome\ 5 Free";
    content: "\f107";
    color: var(--cineaste-red)
}

.card-header a:hover {
    text-decoration: none;
}

.accordion-arrow {
    color: var(--cineaste-red);
}

.card-body {
    border-top: 1px solid var(--cineaste-red);
}

.table-cineaste {
    border-collapse: collapse;
    border-top-color: var(--cineaste-red);
    border-top-width: 1px;
    border-top-style: solid;
}

.table-cineaste td {
    border-top-color: var(--cineaste-red);
    border-top-width: 1px;
    border-top-style: solid;
}

.display-bordered-top:before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 80%;
    border-top: 2px solid var(--cineaste-red);
}.display-bordered-bottom:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 40%;
    border-bottom: 1px solid lightpink;
}

img.people-index-thumb {
    height: 40px;
    width: 40px;
    margin-right: 3px;
}

img.people-index-desktop {
    height: 100px;
    width: 100px;
}

img.film-index-thumb {
    height: 40px;
    width: 27px;
    margin-right: 3px;
}

.bounded {
    max-width: 150px;
    min-width: 150px;
}

.people-bounded {
    max-width: 110px;
    min-width: 110px;
}

.table-non-fluid {
    width: 100% !important;
    margin: auto;
}

.studios {
    font-size: 12px;
    margin: 1px;
}

p {
    overflow: hidden;
}